# Dependencies
node_modules/
package-lock.json

# Cypress
cypress/videos/
cypress/screenshots/
cypress/reports/
cypress/downloads/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

